.image-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

#image1 {
     filter: grayscale(100%);
}

#image2 {
     filter: blur(4px);
     transition: 1s;
}

#image2:hover {
    filter: unset;
}

#image3 {
    filter: saturate(220%);
}

@keyframes color-rotate {
   0% {
    filter: hue-rotate(0deg);
   }
   100% {
    filter: hue-rotate(360deg);
   }
}

#image4 {
    animation: color-rotate 5s linear;
    animation-iteration-count: infinite;
}

#div1 {
    background-color:blueviolet;
    color:rgb(255, 0, 247);
    width: 200px;
    height: 200px;
    filter: blur(4px);
}

#div2 {
    font-size: 88px;
    filter: drop-shadow(15px 10px 20px purple);
}
